.bord{
    position:relative;
    float:left;
}
.card {
    position: relative;
    width: 150px;
    height: 100px;
    margin: 15px;
    float: left;
    vertical-align: center;
    background: deepskyblue;
    border-radius: 25px;
    color: white;
    text-align: center;
}

.flip3D{
    position:relative;
    width:400px; height:200px;
    margin:30px;
    float: left;
    vertical-align: middle;
    line-height:170%;
}

.flip3D > .front{
    position:absolute;
    transform: perspective( 600px ) rotateY( 0deg );
    -webkit-transform: perspective( 600px ) rotateY( 0deg );
    background:deepskyblue; width:400px; height:200px; border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    line-height:120%;
}
.flip3D > .back{
    position:absolute;
    -webkit-transform: perspective( 600px ) rotateY( 180deg );
    transform: perspective( 600px ) rotateY( 180deg );
    background: deeppink; width:400px; height:200px; border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size:20px;
    vertical-align: middle;
    padding: 0.1em;
}

